@import 'csstyle/csstyle';

$primary-color: rgb(179, 65, 65);
$accent-color: #5CDB95;
$accent-color2: rgb(202, 95, 122);
$text-color: rgb(230, 230, 230);
$title-color: rgb(164, 183, 201);
$bg-color: rgb(31, 31, 31);
$bg-color-b: rgb(88, 137, 184);

$title-font: 'Poppins', sans-serif;

@include component(btn){
    height: 50px;
    width: 100px;

    background-color: $primary-color;
    transition: background-color .2s;
    color: $text-color;

    position: relative;
    padding: .5em 1em;
    

    &:hover{
        background-color: darken($primary-color, 2%);
    }
}

@include component(title){
    color: $title-color;
    text-align: center;
    margin-top: 2em;
    margin-bottom: 1em;
    
    font-size: 45px;
    font-family: Arial, Helvetica, sans-serif;

    &:before{
        content: '<<';
        color: $accent-color;
        font-size: 0.8em;
    }

    &:after{
        content: '>>';
        color: $accent-color2;
        font-size: 0.8em;
    }

    @include option(spacing){
        letter-spacing: 5px;
    }
    
}

@include component(bodytext){
    color: $text-color;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;

    &:before{
        content: '-';
    }

    &:after{
        content: '-';
    }
}

@include component(footer){
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
}

@include component(icon){

    @include option(margin){
        margin: 5px 5px 10px 5px;
    }
    &:hover{
        opacity: 0.5;
        transform: scale(1.1);
    }
}

@include component(tasklist){
    box-sizing: border-box;
    position: relative;
    display: block;
    top: 10%;
    height: 50%;
    width: 50vh;

    border-width: 2px;
    border-color: $text-color;
    border-radius: 4px;
    border-style: solid;

    background-color: darken($bg-color-b, 5%);
}

@include component(task){
    align-items: center;
    box-sizing: border-box;
    justify-content: left;
    display: flex;
    flex-direction: left;

    width: 100%;
    height: 50px;

    border-width: 2px;
    border-color: whitesmoke;
    border-style: solid;

    background-image: linear-gradient(to top, #accbee 0%, #e7f0fd 100%);
    @include part(p) {
        color: $text-color;
        font-size: 30px;
        height: 50px;
        width: 80%;
        margin: auto;
    }
    @include part(i) {
        color: whitesmoke;
        margin: 5px 10px 5px 10px;
        @include option(pen-icon){
            position: absolute;
            right: 0%;
            opacity: 5%;
            &:hover{
                opacity: 30%;
            }
        }
    }
}

@include component(addbtn){
    background-color: whitesmoke;
    border-radius: 100%;
    margin: 0px 10px 10px 10px;

    width: 65px;
    height: 65px;

    position: fixed;

    right: 0%;
    bottom: 0%;
    
    i {
        font-size: 3.5em;
        line-height: 65px;
        color: $bg-color-b;
    }

    &:hover{
        opacity: 0.8;
    }
    &:active{
        transform: scale(1.05);
        text-shadow: 2px 2px 4px #000000;
    }
}

@include component(invisiblediv){
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.11);
}

@include component(popup){
    width: 64vh;
    height: 40vh;
    margin: 10% auto;
    justify-content: left;
    align-items: center;
    position: fixed;
    box-sizing: border-box;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    align-items: center;
    top: 0;
    left: 0;
    right: 0;

    border-radius: 2vh;

    background-color: whitesmoke;

    h2 {
        margin: 10px 0px 10px 0px;
        font-size: 30px;
        font-family: $title-font;
    }
    textarea{
        height: 40px;
        width: 80%;
    }
}

@include component(home, todolist){
    height: 100%;
    position: absolute;
    width: 100%;
}
@include component(home-content, todolist-content){
    display: flex;
    justify-content: space-evenly;
    position: relative;
    height: 100%;
}
@include component(home-presentation, todolist-presentation){

}

@include tweak(rounded){
    border-radius: 5px;
}

@include tweak(circle){
    border-radius: 5px;
}

.home{
    background-color: $bg-color;
}
.todolist{
    background-color: $bg-color-b;
}
a{
    text-decoration: none;

    &:hover{
        text-decoration: none;
        
    }
}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}